OPENAI_API_KEY=XXXXXXXXXXXXXX
PROMPT_FILE=engineering_prompts.txt
LLM_MODEL_NAME=gpt-3.5-turbo-16k
#LLM_MODEL_NAME=gpt-4

CONFLUENCE_API_KEY=XXXXXXXXXX
CONFLUENCE_USER=michael@ninjacat.io
WEAVIATE_URL=http://weaviate:8080


CONTEXTIONARY_URL=contextionary:9999
QUERY_DEFAULTS_LIMIT=25
AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=true
PERSISTENCE_DATA_PATH=/var/lib/weaviate
CLUSTER_HOSTNAME=node1